@{
    ViewData["Title"] = "About";
    
}

<img src="https://picsum.photos/id/237/1200/500" alt="">
 <h1 class="display-6 text-danger">
    About Page
 </h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quasi, quisquam exercitationem necessitatibus enim dignissimos? Ea voluptatem autem excepturi consectetur, maiores non a quas qui ipsum eaque expedita omnis reiciendis perferendis dicta laudantium. Qui provident eum saepe enim nisi explicabo corporis ut eveniet sequi harum laboriosam similique voluptatibus, error officiis assumenda consequuntur, pariatur ad adipisci labore. Error repellat sapiente odit libero, similique recusandae atque maxime provident laudantium corrupti tempore molestias aliquid quae aperiam dicta. Tempore velit mollitia, ad unde hic nemo, quo eum culpa itaque esse minima facere. Excepturi impedit et minus a non dolorum laudantium provident aliquid, ullam hic ipsa repudiandae corporis harum consectetur suscipit temporibus ut. Excepturi, molestiae voluptates voluptas eius aliquam provident quaerat beatae reprehenderit quod veniam?</p>