@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MERHABA MVC! :)</h1>
    <h1 class="display-4">Merhaba Ben Samet Önür</h1>
    <h3 style="font-size: 50px;">
        AcunMedyaAkademi
    </h3>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
