<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>lLearnifyStockApp Admin</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <link rel="icon" href="~/assets/img/kaiadmin/favicon.ico" type="image/x-icon" />

  <!-- Fonts and icons -->
  <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
  <script>
    WebFont.load({
      google: { families: ["Public Sans:300,400,500,600,700"] },
      custom: {
        families: [
          "Font Awesome 5 Solid",
          "Font Awesome 5 Regular",
          "Font Awesome 5 Brands",
          "simple-line-icons",
        ],
        urls: ["/assets/css/fonts.min.css"],
      },
      active: function () {
        sessionStorage.fonts = true;
      },
    });
  </script>

  <!-- CSS Files -->
  @await Html.PartialAsync("_StylePartial")
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar -->
    @await Html.PartialAsync("_SidabarPartial")
    <!-- End Sidebar -->

    <div class="main-panel">

      <div class="main-header">
        <div class="main-header-logo">
          <!-- Logo Header -->
          @await Html.PartialAsync("_LogoHeaderPartial")
          <!-- End Logo Header -->
        </div>
        <!-- Navbar Header -->
        @await Html.PartialAsync("_NavbarPartial")
        <!-- End Navbar -->
      </div>

      <div class="container">

        <div class="page-inner">
          @RenderBody()
        </div>
      </div>

     <!-- FOOTER  -->
      @await Html.PartialAsync("_FooterPartial")
    </div>

    <!-- Custom template | don't include it in your project! -->
    @await Html.PartialAsync("_CostomTemplate")
    <!-- End Custom template -->
  </div>
  <!--   Core JS Files   -->
  @await Html.PartialAsync("_ScriptPartial")
</body>

</html>
